@import "variables.less";
@import "../node_modules/bootstrap/less/mixins.less";
@import "nav.less";
@import "zhihuitui.less";

body {
  background-color: #efefef;
}

@media (min-width: 1200px) {
  .col-lg-2-5 {
    float: left;
    width: 20%;
  }
}